<section id="best-sellers" class="best-sellers section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Best Sellers</h2>
    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
  </div>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      {# ici tu colles tous les produits best sellers #}
    </div>
  </div>
</section>
