<section id="info-cards" class="info-cards section light-background">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-4 justify-content-center">
      <!-- Info Card 1 -->
      <div class="col-12 col-sm-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
        <div class="info-card text-center">
          <div class="icon-box">
            <i class="bi bi-truck"></i>
          </div>
          <h3>Free Shipping</h3>
          <p>Nulla sit morbi vestibulum eros duis amet, consectetur vitae lacus. Ut quis tempor felis sed nunc viverra.</p>
        </div>
      </div>
      <!-- Info Card 2 -->
      <div class="col-12 col-sm-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
        <div class="info-card text-center">
          <div class="icon-box">
            <i class="bi bi-piggy-bank"></i>
          </div>
          <h3>Money Back Guarantee</h3>
          <p>Nullam gravida felis ac nunc tincidunt, sed malesuada justo pulvinar. Vestibulum nec diam vitae eros.</p>
        </div>
      </div>
      <!-- Info Card 3 -->
      <div class="col-12 col-sm-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
        <div class="info-card text-center">
          <div class="icon-box">
            <i class="bi bi-percent"></i>
          </div>
          <h3>Discount Offers</h3>
          <p>Nulla ipsum nisi vel adipiscing amet, dignissim consectetur ornare. Vestibulum quis posuere elit auctor.</p>
        </div>
      </div>
      <!-- Info Card 4 -->
      <div class="col-12 col-sm-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
        <div class="info-card text-center">
          <div class="icon-box">
            <i class="bi bi-headset"></i>
          </div>
          <h3>24/7 Support</h3>
          <p>Ipsum dolor amet sit consectetur adipiscing, nullam vitae euismod tempor nunc felis vestibulum ornare.</p>
        </div>
      </div>
    </div>
  </div>
</section>
