<section id="product-list" class="product-list section">
  <div class="container isotope-layout" data-aos="fade-up" data-aos-delay="100" data-default-filter="*" data-layout="masonry" data-sort="original-order">
    <div class="row">
      <div class="col-12">
        <div class="product-filters isotope-filters mb-5 d-flex justify-content-center" data-aos="fade-up">
          <ul class="d-flex flex-wrap gap-2 list-unstyled">
            <li class="filter-active" data-filter="*">All</li>
            <li data-filter=".filter-clothing">Clothing</li>
            <li data-filter=".filter-accessories">Accessories</li>
            <li data-filter=".filter-electronics">Electronics</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row product-container isotope-container" data-aos="fade-up" data-aos-delay="200">
      {# ici tu colles tous les produits filtrables #}
    </div>
    <div class="text-center mt-5" data-aos="fade-up">
      <a href="#" class="view-all-btn">View All Products <i class="bi bi-arrow-right"></i></a>
    </div>
  </div>
</section>
