{% extends 'base.html.twig' %}

{% block title %}Hello PrivacyPolicyController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Politique de Confidentialité</h1>
    <p>Bienvenue sur notre page de politique de confidentialité. Nous nous engageons à protéger votre vie privée et à garantir la sécurité de vos informations personnelles.</p>
    
    <h2>Collecte d'informations</h2>
    <p>Nous collectons des informations lorsque vous vous inscrivez sur notre site, passez une commande ou interagissez avec nos services.</p>
    
    <h2>Utilisation des informations</h2>
    <p>Les informations que nous collectons peuvent être utilisées pour améliorer notre service, traiter vos transactions et vous envoyer des mises à jour.</p>
    
    <h2>Protection des informations</h2>
    <p>Nous mettons en œuvre une variété de mesures de sécurité pour protéger vos informations personnelles.</p>
    
    <h2>Partage d'informations</h2>
    <p>Nous ne vendons pas, n'échangeons pas ou ne transférons pas vos informations personnelles à des tiers sans votre consentement.</p>
    
    <h2>Consentement</h2>
    <p>En utilisant notre site, vous consentez à notre politique de confidentialité.</p>
    
    <h2>Modifications de la politique</h2>
    <p>Nous pouvons mettre à jour cette politique de temps en temps. Nous vous informerons des changements en publiant la nouvelle politique sur cette page.</p>
{% endblock %}
