<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}FlexStore{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block stylesheets %}{% endblock %}
</head>



  {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
  {% endblock %}

</body>
</html>
