{% extends 'base.html.twig' %}

{% block title %}Processus de Commande | Odento{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/xampp/htdocs/odento/src/Controller/CheckoutController.php</code></li>
        <li>Your template at <code>C:/xampp/htdocs/odento/templates/checkout/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
