
 
 

 
 
 <!-- Cart -->
            <a href="{{ path('app_panier') }}" class="header-action-btn">
              <i class="bi bi-cart3"></i>
              {% if item_count > 0 %}
              <span class="badge bg-danger rounded-pill">
                {{ item_count }}   
                </span> 
            </a>
           
          