
 
 

 
 
 <!-- Cart -->
            href="{{ path('app_panier') }}" class="header-action-btn">
              <i class="bi bi-cart3"></i>
              <span class="badge">{{ item_count }}</span>
            </a>

          