
 
 

 
 
 <!-- Cart -->
            <a href="cart.html" class="header-action-btn" href="{{ path('app_panier') }}">
              <i class="bi bi-cart3"></i>
              <span class="badge">{{ item_count }}</span>
            </a>

   {% endblock %}         