

{% block title %}Catalogue | Odento{% endblock %}

{% block body %}
    <!-- Products Mega Menu 2 -->
              <li class="products-megamenu-2"><a href="#"><span>Catalogue</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>

                <!-- Products Mega Menu 2 Mobile View -->
                <ul class="mobile-megamenu">

                  <li><a href="#">Women</a></li>
                  <li><a href="#">Homme</a></li>
                  <li><a href="#">Kids'</a></li>

                  <li class="dropdown"><a href="#"><span>Vêtements</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                      <li><a href="#">Shirts &amp; Tops</a></li>
                      <li><a href="#">Coats &amp; Outerwear</a></li>
                      <li><a href="#">Underwear</a></li>
                      <li><a href="#">Sweatshirts</a></li>
                      <li><a href="#">Dresses</a></li>
                      <li><a href="#">Swimwear</a></li>
                    </ul>
                  </li>

                  <li class="dropdown"><a href="#"><span>Shoes</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                      <li><a href="#">Boots</a></li>
                      <li><a href="#">Sandals</a></li>
                      <li><a href="#">Heels</a></li>
                      <li><a href="#">Loafers</a></li>
                      <li><a href="#">Slippers</a></li>
                      <li><a href="#">Oxfords</a></li>
                    </ul>
                  </li>

                  <li class="dropdown"><a href="#"><span>Accessories</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                      <li><a href="#">Handbags</a></li>
                      <li><a href="#">Eyewear</a></li>
                      <li><a href="#">Hats</a></li>
                      <li><a href="#">Watches</a></li>
                      <li><a href="#">Jewelry</a></li>
                      <li><a href="#">Belts</a></li>
                    </ul>
                  </li>

                  <li class="dropdown"><a href="#"><span>Specialty Sizes</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                      <li><a href="#">Plus Size</a></li>
                      <li><a href="#">Petite</a></li>
                      <li><a href="#">Wide Shoes</a></li>
                      <li><a href="#">Narrow Shoes</a></li>
                    </ul>
                  </li>

                </ul><!-- End Products Mega Menu 2 Mobile View -->

                <!-- Products Mega Menu 2 Desktop View -->
                <div class="desktop-megamenu">

                  <div class="megamenu-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="womens-tab" data-bs-toggle="tab" data-bs-target="#womens-content-1883" type="button" aria-selected="true" role="tab">WOMEN</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="mens-tab" data-bs-toggle="tab" data-bs-target="#mens-content-1883" type="button" aria-selected="false" tabindex="-1" role="tab">MEN</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="kids-tab" data-bs-toggle="tab" data-bs-target="#kids-content-1883" type="button" aria-selected="false" tabindex="-1" role="tab">KIDS</button>
                      </li>
                    </ul>
                  </div>

                  <!-- Tabs Content -->
                  <div class="megamenu-content tab-content">

                    <!-- Women Tab -->
                    <div class="tab-pane fade show active" id="womens-content-1883" role="tabpanel" aria-labelledby="womens-tab">
                      <div class="category-layout">
                        <div class="categories-section">
                          <div class="category-headers">
                            <h4>Clothing</h4>
                            <h4>Shoes</h4>
                            <h4>Accessories</h4>
                            <h4>Specialty Sizes</h4>
                          </div>

                          <div class="category-links">
                            <div class="link-row">
                              <a href="#">Shirts &amp; Tops</a>
                              <a href="#">Boots</a>
                              <a href="#">Handbags</a>
                              <a href="#">Plus Size</a>
                            </div>
                            <div class="link-row">
                              <a href="#">Coats &amp; Outerwear</a>
                              <a href="#">Sandals</a>
                              <a href="#">Eyewear</a>
                              <a href="#">Petite</a>
                            </div>
                            <div class="link-row">
                              <a href="#">Underwear</a>
                              <a href="#">Heels</a>
                              <a href="#">Hats</a>
                              <a href="#">Wide Shoes</a>
                            </div>
                            <div class="link-row">
                              <a href="#">Sweatshirts</a>
                              <a href="#">Loafers</a>
                              <a href="#">Watches</a>
                              <a href="#">Narrow Shoes</a>
                            </div>
                            <div class="link-row">
                              <a href="#">Dresses</a>
                              <a href="#">Slippers</a>
                              <a href="#">Jewelry</a>
                              <a href="#"></a>
                            </div>
                            <div class="link-row">
                              <a href="#">Swimwear</a>
                              <a href="#">Oxfords</a>
                              <a href="#">Belts</a>
                              <a href="#"></a>
                            </div>
                            <div class="link-row">
                              <a href="#">View all</a>
                              <a href="#">View all</a>
                              <a href="#">View all</a>
                              <a href="#"></a>
                            </div>
                          </div>
                        </div>
                        <div class="featured-section">
                          <div class="featured-image">
                            <img src="assets/img/product/product-f-1.webp" alt="Women's Heels Collection">
                            <div class="featured-content">
                              <h3>Women's<br>Bags<br>Collection</h3>
                              <a href="#" class="btn-shop">Shop now</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Men Tab -->
                    <div class="tab-pane fade" id="mens-content-1883" role="tabpanel" aria-labelledby="mens-tab">
                      <div class="category-layout">
                        <div class="categories-section">
                          <div class="category-headers">
                            <h4>Clothing</h4>
                            <h4>Shoes</h4>
                            <h4>Accessories</h4>
                            <h4>Specialty Sizes</h4>
                          </div>

                          <div class="category-links">
                            <div class="link-row">
                              <a href="#">Shirts &amp; Polos</a>
                              <a href="#">Sneakers</a>
                              <a href="#">Watches</a>
                              <a href="#">Big &amp; Tall</a>
                            </div>
                            <div class="link-row">
                              <a href="#">Jackets &amp; Coats</a>
                              <a href="#">Boots</a>
                              <a href="#">Belts</a>
                              <a href="#">Slim Fit</a>
                            </div>
                            <div class="link-row">
                              <a href="#">Underwear</a>
                              <a href="#">Loafers</a>
                              <a href="#">Ties</a>
                              <a href="#">Wide Shoes</a>
                            </div>
                            <div class="link-row">
                              <a href="#">Hoodies</a>
                              <a href="#">Dress Shoes</a>
                              <a href="#">Wallets</a>
                              <a href="#">Extended Sizes</a>
                            </div>
                            <div class="link-row">
                              <a href="#">Suits</a>
                              <a href="#">Sandals</a>
                              <a href="#">Sunglasses</a>
                              <a href="#"></a>
                            </div>
                            <div class="link-row">
                              <a href="#">Activewear</a>
                              <a href="#">Slippers</a>
                              <a href="#">Hats</a>
                              <a href="#"></a>
                            </div>
                            <div class="link-row">
                              <a href="#">View all</a>
                              <a href="#">View all</a>
                              <a href="#">View all</a>
                              <a href="#"></a>
                            </div>
                          </div>
                        </div>
                        <div class="featured-section">
                          <div class="featured-image">
                            <img src="assets/img/product/product-m-4.webp" alt="Men's Footwear Collection">
                            <div class="featured-content">
                              <h3>Men's<br>Footwear<br>Collection</h3>
                              <a href="#" class="btn-shop">Shop now</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Kids Tab -->
                    <div class="tab-pane fade" id="kids-content-1883" role="tabpanel" aria-labelledby="kids-tab">
                      <div class="category-layout">
                        <div class="categories-section">
                          <div class="category-headers">
                            <h4>Clothing</h4>
                            <h4>Shoes</h4>
                            <h4>Accessories</h4>
                            <h4>By Age</h4>
                          </div>

                          <div class="category-links">
                            <div class="link-row">
                              <a href="#">T-shirts &amp; Tops</a>
                              <a href="#">Sneakers</a>
                              <a href="#">Backpacks</a>
                              <a href="#">Babies (0-24 months)</a>
                            </div>
                            <div class="link-row">
                              <a href="#">Outerwear</a>
                              <a href="#">Boots</a>
                              <a href="#">Hats &amp; Caps</a>
                              <a href="#">Toddlers (2-4 years)</a>
                            </div>
                            <div class="link-row">
                              <a href="#">Pajamas</a>
                              <a href="#">Sandals</a>
                              <a href="#">Socks</a>
                              <a href="#">Kids (4-7 years)</a>
                            </div>
                            <div class="link-row">
                              <a href="#">Sweatshirts</a>
                              <a href="#">Slippers</a>
                              <a href="#">Gloves</a>
                              <a href="#">Older Kids (8-14 years)</a>
                            </div>
                            <div class="link-row">
                              <a href="#">Dresses</a>
                              <a href="#">School Shoes</a>
                              <a href="#">Scarves</a>
                              <a href="#"></a>
                            </div>
                            <div class="link-row">
                              <a href="#">Swimwear</a>
                              <a href="#">Sports Shoes</a>
                              <a href="#">Hair Accessories</a>
                              <a href="#"></a>
                            </div>
                            <div class="link-row">
                              <a href="#">View all</a>
                              <a href="#">View all</a>
                              <a href="#">View all</a>
                              <a href="#"></a>
                            </div>
                          </div>
                        </div>
                        <div class="featured-section">
                          <div class="featured-image">
                            <img src="assets/img/product/product-9.webp" alt="Kids' New Arrivals">
                            <div class="featured-content">
                              <h3>Kids<br>New<br>Arrivals</h3>
                              <a href="#" class="btn-shop">Shop now</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div><!-- End Products Mega Menu 2 Desktop View -->

              </li><!-- End Products Mega Menu 2 -->
  
{% endblock %}
