{% extends 'base.html.twig' %}

{% block title %}Catalogue | FlexStore{% endblock %}

{% block body %}

  <div style="background-color: #f0f8ff; padding: 20px;">
 
  <h1>Catalogue de produits</h1>

  <p>Bienvenue dans notre boutique en ligne. Voici tous les produits disponibles.</p>

{% endblock %}
