{% extends 'base.html.twig' %}

{% block title %}Catalogue | Odento{% endblock %}

{% block body %}
  
    <h1>Catalogue de produits</h1>
    <p>Bienvenue dans notre boutique en ligne. Voici tous les produits disponibles.</p>
  
{% endblock %}
