{% extends 'base.html.twig' %}

{% block title %}Catalogue | Odento{% endblock %}

{% block body %}
  < style="background-color:rgb(63, 11, 204); padding: 20px; color: white;">
    <h1>Catalogue de produits</h1>
    <p>Bienvenue dans notre boutique en ligne. Voici tous les produits disponibles.</p>
  
{% endblock %}
