{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ ContactController }}! ✅</h1>

   
   
</div>
{% endblock %}
