{% extends 'base.html.twig' %}


{% block title %}Accueil{% endblock %}

{% block body %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <span class="promo-badge">New Collection 2025</span>
        </div>
      </div>
    </div>
  </main> 
  
{% endblock %}

