{% extends 'base.html.twig' %}

{% block title %}Accueil - FlexStore{% endblock %}

{% block body %}
  <div class="container text-center mt-5">
    <h1>Bienvenue sur FlexStore 🍽️</h1>
    <p class="lead">Thème Yummy intégré avec succès !</p>
  </div>
{% endblock %}

