{% extends 'base.html.twig' %}

{% block title %}Mon Panier | FlexStore{% endblock %}

{% block body %}
  <h1>Mon panier</h1>

  <p>Voici les articles que vous avez ajoutés à votre panier.</p>

 
{% endblock %}
