{% extends 'base.html.twig' %}

{% block title %}Catalogue | FlexStore{% endblock %}

{% block body %}
  <h1>Catalogue de produits</h1>

  <p>Bienvenue dans notre boutique en ligne. Voici tous les produits disponibles.</p>

  {# Plus tard tu ajouteras ici l'affichage des produits avec une boucle for #}
{% endblock %}
