{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}


{# AFFICHAGE DU DETAIL DE BLOG #}
{# {% block body %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.content|raw }}</p>
        <hr>
        test
{% endblock %} #}
{% block body %}





































<!-- reprise////////////////////////////////////////////////////////////////////////// -->
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Blog Détails</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{path ('app_home')}}">accueil</a></li>
            <li class="current">Blog Détails</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
{% endblock %}