{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}
{# AFFICHAGE DE MON BLOG  #}
{% block body %}
    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.content|raw }}</p>
        <img src="{{ asset('images/' ~ post.image) }}" alt="Image de l'article" class="img-fluid" style="width: 200px; height: auto;">
        <a href="{{ path('app_actu_detail', {'id': post.id}) }}" class="btn btn-primary" >Détail du post</a>
        <hr>
    {% endfor %}
   
{% endblock %}
 {%block header}